{% extends 'Login/base.html' %}
{% block content %}
<center>
    <div class="jumbotron">
        <h3 class="display-4">Guidelines</h3>
    </div>
</center>
    <h4>
        1. In First and last name must be one Capital and one small charactor<br/>
        2. Mobile number must be 10 digits<br/>
        3. Username have minimum length is 6<br/>
        4. Password have minimum length is 8<br/>
    </h4>
<center>
    <a href="{% url 'Login:registration'%}">Back to Register</a>
</center>
{% endblock %}