{% extends 'change/base.html' %}
{% block content %}
<h1 class="display-4">Unblock bank account</h1>
<p class="lead font-italic">You are unblock your bank account......</p>
<hr class="my-4">
<center>
    <div class="jumbotron">
        <h3 class="display-4">Unblock Bank Account</h3>
    </div>
    <style>
        table,th,td {
            padding: 15px;
        }
    </style>

    <form method="post" action="">
        {% csrf_token %}
        <table>
            <tr>
                <th>Mobile No :</th>
                <td><input type="number" name="mobile" value="" id="mobile" required></td>
            </tr>
            <tr>
                <th>Account No :</th>
                <td><input type="number" name="acno" value="" id="acno" required></td>
            </tr>
            <tr>
                <th>Password :</th>
                <td><input type="password" name="password" value="" id="password" required></td>
            </tr>
            <tr align="center">
                <th colspan="2"><button type="submit" class="btn btn-success">Unblock</button></th>
            </tr>
        </table>
    </form>
</center>
{% endblock %}