{% extends "base.html" %}

{% block title %}Create an Account{% endblock %}

{% block content %}

<center>
    <form method="POST" class="form-group" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="jumbotron" >
    <h3 class="display-4">Registration Form</h3>
</div>
        {% for m in messages%}
        <h5>{{m}}</h5>
    {%endfor%}
        <label>Enter First Name:&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" name = "firstname" value = "First name" id="firstname">
        <br>
        <br>
        <label>Enter Last Name:&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" name = "lastname" value = "" id="lastname">
        <br><br><label>Email-ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="email" name = "email" value = "" id="email">
        <br><br><label>Enter Mobile No:&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="number" name = "mobileno" value = "" id="mobileno">
        <br><br><label for="username">Enter UserName:&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" name = "username" value = "" id="username">
        <br><br><label for="password"> Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="password" name="password" value="" id="password">
        <br><br><label for="password"> Re-Enter Password:</label>
        <input type="password" name="password2" value="" id="reenter_password">
        <br><br>
        <button type="submit" class="btn btn-success">Register</button>
    </form>
    </center>
{% endblock %}