<!DOCTYPE html>
<html>
<head>
	<title>Online Payment system</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>{% load static %}
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="../">Online Payment system</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li><a href="{% url 'addbankaccount:bank_form'%}">Add Bank Account</a></li>
	    </ul>
		<ul class="nav navbar-nav">
			<li><a href="{% url 'change:change_bank_account'%}">Change Bank Account</a></li>
		  </ul>
		  <ul class="nav navbar-nav">
			<li><a href="{% url 'upi:upi_form'%}">UPI</a></li>
		  </ul>
		  <ul class="nav navbar-nav">
			<li><a href="{% url 'change:change_upi'%}">Change UPI</a></li>
		  </ul>
		 
		  <br>
		  <br>

		<ul class="nav navbar-nav">
			<li><a href="{% url 'Login:logout' %}">Logout</a></li>
		  </ul>
	  </div>
	</nav>
	{% block content %}
	{% load static %}
	<section align = "center">
		<h1>Welcome,Welcome,{{request.session.user_username}}<br>status :{{request.session.user_status}}<br>upi_staus:{{request.session.user_upi_staus}}</h1>
		<img src="{% static '2.jpg' %}" width="100%" height="100%">
	</section>
	{% endblock %}
</body>
</html>