{% extends 'addbankaccount/base.html' %}
{% block content %}
{% if request.session.user_status == 0%}
<h1 class="display-4">Add bank account</h1>
                <p class="lead font-italic" >You have to do add your bank account to do your payment..</p>
            <hr class="my-4">
    <center>
        <div class="jumbotron" >
            <h3 class="display-4">Add Bank Account</h3>
        </div>
        <form method = "post" action="">
            {% csrf_token %}
            <label>Mobile No  : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="number" name = "mobile" value = "" id="mobile">
            <br><br>
            <label> Account No  :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="number" name="acno" value="" id="acno">
            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-success">Add</button>
            <br>
           <h3> For change<a href="{% url 'change:change_mobile'%}"> Mobile no</a></h3>
        </form>
    </center>
{% else %}
        <h1 class="display-4" style="color: red;">Alert:</style></h1>
        <hr class="my-4">
        <center>
            <div class="jumbotron" >
                <h3 class="display-4"></h3>
            </div>
            <h2>You have already added bank account.</h2><br>
            <h3><button type="submit" class="btn btn-light"><a href="{% url 'Login:welcome'%}">Homepage</a></button></h3>
            </center>
{% endif %}
{% endblock %}