{% extends 'Login/welcome.html' %}
{% block content %}
<div class="container">
    <div class="col-md-10.offset-md-1 mt-5">
        <div class="jumbotron">
<h1 class="display-4">Change Mobile Number</h1>
<p class="lead font-italic">You are changing your mobile number...</p>
<hr class="my-4">
<center>
    <div class="jumbotron">
        <h3 class="display-4">Change Mobile Number</h3>
    </div>
    <style>
        table,th,td {
            padding: 15px;
        }
    </style>
    <form method="post" action="">
        {% csrf_token %}
        <table>
            <tr>
                <th>Enter OLD Mobile No :</th>
                <td><input type="number" class="form-control" name="oldmobile" value="" id="oldmobile" pattern="[0-9]{10}" required></td>
            </tr>
            <tr>
                <th>Enter New Mobile NO :</th>
                <td><input type="number" class="form-control"name="newmobile" value="" id="newmobile" pattern="[0-9]{10}" required></td>
            </tr>
            <tr align="center">
                <th colspan="2"><button type="submit" class="btn btn-success">change</button></th>
            </tr>
        </table>
    </form>
</center>
</div>
</div>
</div>
{% endblock %}
