{% extends 'Login/welcome.html' %}
{% block content %}
<div class="container">
    <div class="col-md-10.offset-md-1 mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Change UPI PIN</h1>
            <p class="lead font-italic">You are changing your UPI PIN......</p>
            <hr class="my-4">
            <center>
                <div class="jumbotron">
                    <h3 class="display-4">Change UPI PIN</h3>
                </div>
                <style>
                    table,th,td {
                        padding: 15px;
                    }
                </style>
                <form method="post" action="">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <th>Enter Username :</th>
                            <td><input type="text" class="form-control" name="username" value="" id="username" minlength=6 required></td>
                        </tr>
                        <tr>
                            <th>Enter Password :</th>
                            <td><input type="password" class="form-control" name="password" value="" id="password" minlength="8" maxlength="16" required></td>
                        </tr>
                        <tr>
                            <th>Enter OLD UPI PIN :</th>
                            <td><input type="password" class="form-control" name="oldpin" value="" id="oldpin" pattern="[0-9]{4}" required></td>
                        </tr>
                        <tr>
                            <th>Enter NEW UPI PIN :</th>
                            <td><input type="password" class="form-control" name="newpin" value="" id="newpin" pattern="[0-9]{4}" required></td>
                        </tr>
                        <tr align="center">
                            <th colspan="2"><button type="submit" class="btn btn-success">Change</button></th>
                        </tr>
                    </table>
                </form>
            </center>
        </div>
    </div>
</div>
{% endblock %}